.hero-wrap-1{
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 650px;
}

.hero-wrap-2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    min-height: 650px;
}

.hero-text-wrap{
    margin: auto;
    padding: 1em;
    max-width: 387px;
}

.hero-wrap-2 .hero-text-wrap{
    order: 2;
}

.hero-text-wrap h1{
    filter: invert(100%);
    mix-blend-mode: difference;
    text-transform: uppercase;
}

.hero-text-wrap p{
    padding: 2em 0;
    color: var(--col-main-lightgrey);
    text-align: justify;

}

.hero-image{
    order: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media only screen and (max-width : 1000px){
    .hero-wrap-1{
        grid-template-columns: 3fr 2fr;
    }

    .hero-wrap-2{
        grid-template-columns: 2fr 3fr;
    }
}

@media only screen and (max-width : 700px){
    .hero-wrap-1, .hero-wrap-2{
        display: flex;
        flex-direction: column;
        min-height: 70vh;
    }

    .hero-image{
        order: 1;
        min-height: 280px;
    }

    .hero-text-wrap{
        order: 2;
        padding: 4em 1em;
        }
}


@media only screen and (min-width : 1600px){
    .hero-wrap-1, .hero-wrap-2{
        min-height: 800px;
    }
}