.home-hero-first{
    position: relative;
}


.home-hero-first::after{
    content: '';
    width: 0.5%;
    height: 60%;
    background: linear-gradient(45deg, var(--col-accent-purple), var(--col-accent-blue));
    position: absolute;
    left: 0;
    top: 20%;
}


.cover-stories-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cover-stories-wrap > *{
    flex : 2;
    min-width: 300px;
    max-height: 375px;
}

.info-card-section-wrap{
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}



@media only screen and (min-width : 900px) {
    .cover-stories-wrap > *{
        max-width: 500px;
        max-height: inherit; 
    };
}


@media only screen and (max-width : 700px){
    .home-hero-first::after{
        top: 280px;
        left: 20%;
        height: 0.5%;
        width: 60%;
        background: linear-gradient(45deg, var(--col-accent-blue), var(--col-accent-purple));
    }
}