

.pricing-plan-toggle-button-wrap{
    display: flex;
    margin: auto;
    width: fit-content;
    padding: 3em 1em;
    margin-top: 2em;

}

.pricing-plan-toggle-button-wrap h3{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.pricing-plan-p{
    color: var(--col-main-black);
}

.pricing-plan-p-focus{
    color : var(--col-main-lightgrey)
}


.pricing-plan-button-toggle{
    width: 60px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: var(--col-main-lightgrey);
    border-radius: 50px;
    cursor: pointer;
}


.pricing-plan-button-toggle-focus{
    width: 60px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 50px;
    background-color: var(--col-main-black);
    cursor: pointer;

}


.pricing-plan-button-toggle-inside{
    background-color: var(--col-main-black);
    border-radius: 100%;
    width: 22px;
    height: 22px;
    transition : 200ms all ease-out; 
    position: absolute; 
    left : 3px
}

.pricing-plan-button-toggle-inside-focus{
    background-color: var(--col-main-white);
    border-radius: 100%;
    width: 22px;
    height: 22px;
    position: absolute; 
    left : 35px; 
    transition : 200ms all ease-out; 
}


.pricing-plans-wrap{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pricing-plan-card-wrap{
    padding: 3em;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    margin: 1em;
    height: fit-content;
}

.pricing-plan-pro{
    background-color: black;
    color: white;
    padding: 5em 3em;
    position: relative;
}

.pricing-plan-pro::before{
    content: '';
    width: 100%;
    height: 1%;
    background: linear-gradient(45deg, var(--col-accent-purple), var(--col-accent-blue));
    position: absolute;
    left: 0;
    top: 0;
}

.pricing-plan-card-wrap > *{
    padding: 1rem 0; 
}


.pricing-plan-card-wrap p{
    color: var(--col-main-lightgrey);
}


.pricing-plan-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

.pricing-plan-text > *{
    padding: 0.5em 0
}

.pricing-plan-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-plan-button-wrap{
    margin: auto;
}

table{
    margin: auto;
    margin-bottom: 10vh;
    width: 730px;
}

table > *{
    text-transform: uppercase;
}

th{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 1.5em;
}

th > h3{
    text-transform: uppercase;
}

th:nth-child(1){
    text-align: left;    
}

td:nth-child(1){
    text-align: left;
    padding-left: 1.5em;    
}

td{
    padding: 1em 3em;
    border-bottom: 1px solid var(--col-main-lightgrey);
}

td img{
    margin: auto;
}

.pricing-table-feature-mobile{
    display: none;
}

.pricing-table-plans-mobile{
    display: none;
}



@media only screen and (700px < width < 1000px){
    .pricing-plans-wrap{
        flex-direction: column;
    }

    .pricing-plan-card-wrap{
        width: 80%;
        padding : 2em; 
    }

    .pricing-plan-pro::before{
        left: 0;
        height: 100%;
        width: 0.5%;
    }

    .pricing-plan-text-price-wrap{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .pricing-plan-text{
        text-align: left;
        align-items: flex-start;
        max-width: 40%;
    }

    .pricing-plan-price{
        align-items: flex-end;
        justify-content: flex-start;
    }

    
    .pricing-plan-button-wrap{
        margin: 0;
        margin-right: auto;
    }


}


@media only screen and (max-width : 700px){
    .pricing-plans-wrap{
        flex-wrap: wrap;
    }

    .pricing-table-plan-head{
        display: none;
    }

    table{
        width: 318px;
    }

    table img{
        padding-bottom: 1em;
        margin-left: 0;
    }

    th{
        padding: 1em 0;
    }

    th > h4{
        text-transform: uppercase;
    }

    td{
        padding: 0;
        width: 33%;
    }

    .pricing-table-feature-desktop{
        display: none;
    }

    .pricing-table-feature-mobile{
        display: table-row;
        width: 100%;
    }

    .pricing-table-feature-mobile h4{
        padding: 1em 0;
    }

    .pricing-table-feature-mobile td{
        border: none; 
        padding: 0;
    }

    .pricing-table-feature-mobile h4{
        text-transform: uppercase;
    }

    .pricing-table-plans-mobile{
        display: table-row;
    }

    .pricing-table-plans-mobile td{
        padding: 0.2em 0;
        border: none;
        color: var(--col-main-lightgrey);
    }

    
}