.banner-beta{
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 3em clamp(3em, 7vw, 10em);
    background-image: url(../../assets/shared/desktop/bg-beta.jpg);
    background-size: cover;
    color: var(--col-main-white);

    display: flex;
    justify-content: space-between;
}

.banner-beta::after{
    content: '';
    width: 0.3%;
    height: 100%;
    background: linear-gradient(45deg, var(--col-accent-purple), var(--col-accent-blue));
    position: absolute;
    left: 0;
    top: 0;
}


.banner-beta h1{
    max-width: 300px;
}


@media only screen and (max-width: 700px){
    .banner-beta{
        flex-direction: column;
        padding: 3em;
    }

    .banner-beta::after{
        height: 1.5%;
        width: 40%;
        left: 10%;
        top: 0;
    }

    .banner-beta h1{
        padding-bottom: 1em;
    }
}