.button-type-1{
    padding: 1em 3em 1em 3em;
    max-height: 40px;
    transition: 200ms all ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-type-1:hover{
    background-color: var(--col-main-lightgrey);
    color: var(--col-main-black);
}

.button-type-2{
    display: flex;
    align-items: center;
    max-width: fit-content;
    transition: 200ms all ease;
    cursor: pointer;

    /* this makes sure the button doesn't have a background without needing an extra class */
    background-color: transparent !important;
}

.button-type-2:hover h4{
    text-decoration: underline;
}

.button-type-2 h4{
    padding-right: 1em;
}

.button-dark{
    background-color: var(--col-main-black);
    color: var(--col-main-white);
}

.button-light{
    background-color: var(--col-main-white);
    color: var(--col-main-black);
}


